{% extends 'base.html' %}
{% block page_header %}
    <div class="row" style="width: ">
        <ul class="nav">
            <li class="nav-item">
                <h2 style="font-family: monospace, Monaco, Courier">Topic: [{{ topic }}]</h2>
            </li>
    </ul>
           <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn-primary" style="align-items: last" href="{% url 'learning_logs:new_entry' topic.id %}">Add a new entry</a>
            </li>
    </ul>
    </div>
{% endblock page_header %}

{% block content %}

<!--    <h3>Topic: [{{ topic }}]</h3>-->

<!--    <p>Entries:</p>-->
<!--    <p>-->
<!--        <a href="{% url 'learning_logs:new_entry' topic.id %}">Add a new entry</a>-->
<!--    </p>-->
    <ul>

        {% for entry in entries %}
        <ul class="list-group" style="margin-top: 3%">
            {#            <div class="container">#}
            {#            <div class="row">#}
            <div class="col-6">
                {#                <div class="col-lg-5">#}
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ entry.title }}</h5>
                    <small style="color: #0062cc">{{ entry.date_added|date:'M d, Y H:i' }}</small>
                </div>
                <p class="mb-1">{{ entry.text|linebreaks }}</p>
                <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit entry</a></small>
                {#        <li>#}
                {#            <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>#}
                {#            <p>{{ entry.text|linebreaks }}</p>#}
                {#        <p>#}
                {#            <a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit entry</a>#}
                {#        </p>#}
                {#        </li>#}
            </div>
            </div>
        {% empty %}
            <li>There are no entries for this topic yet.</li>
        {% endfor %}
    </ul>


{% endblock content %}
